/* //Program created with information from: 
*/
body, html {
    margin: 0;
    padding: 0;
    font-family: monospace;    
}                

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

#info {
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px 10px auto auto;    
    padding: 5px;
    border: 2px solid #ddd;
    border-radius: 5px;
    font-size: 12px;
    text-align: center;
    color: #222;
    background: #fff;
}

#info2 {
    position: absolute;
    top: 650px;
    right: 1135px;
    margin: 5px 5px auto auto;    
    padding: 5px;
    border: 2px solid #ddd;
    border-radius: 4px;
    font-size: 12px;
    text-align: center;
    color: #222;
    background: #fff;
}



#tstamp {
background: #fff;
position: absolute;
z-index: 1;
/* top: 65px;
right: 1225px; */
bottom: 0;
left: 0;
border-radius: 3px;
width: 200px;
border: 1px solid rgba(0, 0, 0, 0.4);
font-family: 'Arial';
font-size: 9px;
}
 
#tstamp a {
font-size: 13px;
color: #404040;
display: block;
margin: 0;
padding: 0;
padding: 10px;
text-decoration: none;
border-bottom: 1px solid rgba(0, 0, 0, 0.25);
text-align: center;
}
 
#tstamp a:last-child {
border: none;
}
 
#tstamp a:hover {
background-color: #f8f8f8;
color: #404040;
}
 
#tstamp a.active {
background-color: #757575;
color: #ffffff;
}

#tstamp a.inactive {
background-color: #f8f8f8;
color: #404040;
}

#tstamp a.active:hover {
background: #757575;
}

#menu {
background: #fff;
position: absolute;
z-index: 1;
top: 30px;
right: 16px;
border-radius: 3px;
width: 200px;
border: 1px solid rgba(0, 0, 0, 0.4);
font-family: 'Arial';
font-size: 9px;
}
 
#menu a {
font-size: 11px;
color: #404040;
display: block;
margin: 0;
padding: 0;
padding: 10px;
text-decoration: none;
border-bottom: 1px solid rgba(0, 0, 0, 0.25);
text-align: center;
}
 
#menu a:last-child {
border: none;
}
 
#menu a:hover {
background-color: #FFE082;
color: #404040;
}
 
#menu a.active {
background-color: #757575;
color: #ffffff;
}

#menu a.inactive {
background-color: #FFE082;
color: #404040;
}

#menu a.active:hover {
background: #FFE082;
}

.map-overlay {
font: 14px/20px 'Arial', Arial, Helvetica, sans-serif;
position: absolute;
width: 25%;
top: 0;
left: 0;
padding: 10px;
}
 
.map-overlay .map-overlay-inner {
background-color: #fff;
box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
border-radius: 3px;
padding: 10px;
margin-bottom: 10px;
}
 
.map-overlay h2 {
line-height: 24px;
display: block;
margin: 0 0 10px;
}
 
.map-overlay .legend .bar {
height: 10px;
width: 100%;
background: linear-gradient(to right, #ffcc80, #e65100);
}
 
.map-overlay input {
background-color: transparent;
display: inline-block;
width: 100%;
position: relative;
margin: 0;
cursor: ew-resize;
}

.distance-container {
position: absolute;
top: 10px;
left: 10px;
z-index: 52;
}
 
.distance-container > * {
background-color: rgba(0, 0, 0, 0.5);
color: #fff;
font-size: 11px;
line-height: 18px;
display: block;
margin: 0;
padding: 5px 10px;
border-radius: 3px;
}


.legend2 {
background-color: #fff;
border-radius: 3px;
bottom: 75px;
box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
padding: 10px;
position: absolute;
right: 10px;
z-index: 1;
}
 
.legend2 h4 {
margin: 0 0 10px;
}
 
.legend2 div span {
border-radius: 50%;
display: inline-block;
height: 10px;
margin-right: 5px;
width: 10px;
}

#coordinateBox {
    display:table;
    position: fixed; 
    float: left;
    bottom: 0px;
    margin-left:25%;
    width: 120px;
    height: 15px;
    padding: 5px;
    border: none;
    background: rgba(255, 255, 255, 0.7);
}
#coords {
    display:table-cell;
    position:relative;
    height: 15px;
    bottom: 0px;
    vertical-align: text-top;
    font-size: 12px;
    color: #222;
}

.infobox:hover .infotooltip {
    display:block;
}

.infotooltip {
    display: none;
    background: #C8C8C8;
    width: 200px;
    padding: 10px;
    position: absolute;
    z-index: 1000;
}

.infobox {
    position:absolute;
    left: 1%;
    top: 1%;
    background:rgba(255, 255, 255, 0.75);
    width: 30px;
    height: 30px;
}

.infobutton {
    position: relative;
    background:rgba(255, 255, 255, 0);
    border: 4px solid black;
    left: 1px;
    top: 1px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
    font-size: 15px;
    color:#000000;
    font-weight: bold;
    font-family:  -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1, h2, h3, h4, h5, h6 {font-family:Arial;}